.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .50;
  // background-color: rgba(0,0,0,0.25);
  overflow: hidden;

  &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
}

.main-page{
  text-align: center;
  font-size: 4rem;
  font-family: 'Dancing Script', cursive;
  color: #FFB6C1;

  & > span{
    font-size: 7rem;
  }
}