// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$color-primary: #ff9999;
$color-secondary: #ffc299;
$color-tertiary: #b36b6b;
$color-fourth: #ff99e6;
$color-fifth: #b36ba1;

$white: #ffffff;
$black: #000000;
