.drinking-buddy{
  width: 90%;
  margin: 0 auto;
  background-color: #f5f5dc;

  text-align: center;
  &__title{
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    color: #FFB6C1;
  }

  &__map{
    transform: translate(4rem, 2rem);
  }

}

.users__profile{
  width: 90%;
  margin: 0 auto;

  grid-gap: 4rem;

  display: grid;

  //273.5px
  grid-template-columns: repeat(auto-fit, minmax(273.5px, 1fr));
  grid-auto-rows: auto;

  transform: translateY(3rem);
}