.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 5px;
    display: inline-block;
    border-radius: 10rem;

    border: none;
    cursor: pointer;
  }
}
